<h5>sign up form</h5>
<%= form_for @user do |f| %>
  <%= f.label "Email"%>
  <%= f.text_field :email %>
  <br/>
  <%= f.label "Password" %>
  <%= f.password_field :password %>
  <br />
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br />
  <%= f.label "First Name" %>
  <%= f.text_field :first_name %>
  <br />
  <%= f.label "Last Name"%>
  <%= f.text_field :last_name %>
  <br />
  <%= f.select :is_mentor, [["I want to be a mentor", "true"],['I want to find a mentor', "false"]]%>
  <br />
  <%= f.submit "Sign Up" %>
<% end %>

