<h5>user show page</h5>

<p>user email:<%= @user.email %></p> 
<p>first name:<%= @user.first_name %></p>
<p>last_name:<%= @user.last_name %></p>
<p>phone:<%= @user.phone %></p>
<p>description:<%= @user.description %></p>
<p>is_mentor: <%= @user.is_mentor %></p>
<p>city: <%= @user.city %></p>
<p>state: <%= @user.state %></p>
<p><%= link_to "Edit User Information", edit_user_path(@user) %></p>
<p><%= link_to "Delete account", user_path(@user),
                                  :data => {:confirm => "Confirm to delete",
                                :method => 'delete'} %></p>