<!DOCTYPE html>
<html>
  <head>
    <title>MentorDetector</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <ul id="navbarHolder">
        <% if current_user %>
          <li class="navbarItem"><%= link_to "#{current_user.first_name}: Profile", user_path(current_user.id) %></li>
          <li class="navbarItem"><a href="/signout">Sign-Out</a></li>
        <% else %>
          <li class="navbarItem"><%= link_to "Sign up", '/signup' %><%= link_to "Sign in", '/signin' %></li>
        <% end %>
          <li class="navbarItem"><a href="/users">All users</a></li>
          <li class="navbarItem"><a href="/technologies">Technologies</a></li>
      </ul>
    </div>

    <br />
    <%= yield %>

    <div id="footer">
      <ul>
        <li><%= flash[:alert] %></li>
        <li><%= flash[:notice] %></li>
      </ul>
    </div>

  </body>
</html>
